app/pkgs/Wadl/GetTourData.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://europe-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="GetTourData" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="GetTourData" />
  <grammars>
    <jsonTypes targetNamespace="https://europe-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_Listrowspresentinatable_File_def" />
      <object name="ManualTriggerInput">
        <property name="Listrowspresentinatable_File" type="string" />
      </object>
      <string name="ResponseActionOutput_items_def_ItemInternalId_def" />
      <string name="ResponseActionOutput_items_def_Col1_def" />
      <string name="ResponseActionOutput_items_def_Col2_def" />
      <string name="ResponseActionOutput_items_def_Col3_def" />
      <string name="ResponseActionOutput_items_def__ux40_odata_etag_def" />
      <object name="ResponseActionOutput_items_def">
        <property name="ItemInternalId" type="string" />
        <property name="Col1" type="string" />
        <property name="Col2" type="string" />
        <property name="Col3" type="string" />
        <property name="@odata.etag" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_items_def" name="ResponseActionOutput" />
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://europe-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Listrowspresentinatable_File" path="/Listrowspresentinatable_File" type="xs:string" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>